<div class="navbar navbar-inverse set-radius-zero" >

    <div class="container">
        <div class="navbar-header"> 
            <a class="navbar-brand">
                 <img src="images/logo.png" />
            </a>
        </div>

        <div class="right-div">
                <a href="" class="btn btn-danger pull-right">Welcome <%=data.name%></a>
        </div>

    </div>
        
</div>

<section class="menu-section">

    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">

                        <ul id="menu-top" class="nav navbar-nav navbar-right">

                            <li><a href="" class="menu-top-active">DASHBOARD</a></li>

                            <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown"> Categories <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Add Category</a></li>
                                     <li role="presentation"><a role="menuitem" tabindex="-1" href="">Manage Categories</a></li>
                                </ul>
                            </li>

                             <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown"> Authors <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Add Author</a></li>
                                     <li role="presentation"><a role="menuitem" tabindex="-1" href="">Manage Authors</a></li>
                                </ul>
                            </li>

                             <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown"> Books <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Add Book</a></li>
                                     <li role="presentation"><a role="menuitem" tabindex="-1" href="">Manage Books</a></li>
                                </ul>
                            </li>

                           <li>
                                <a href="#" class="dropdown-toggle" id="ddlmenuItem" data-toggle="dropdown"> Issue Books <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="ddlmenuItem">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="">Issue New Book</a></li>
                                     <li role="presentation"><a role="menuitem" tabindex="-1" href="">Manage Issued Books</a></li>
                                </ul>
                            </li>

                            <li><a href="">Reg Students</a></li>
                    
                            <li><a href="">Change Password</a></li>

                            <li><a href="">Logout</a></li>

                       </ul>

                </div>
            </div>
        </div>
    </div>

</section>


 