<!DOCTYPE html>
<html >
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Add Book</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <!-- CUSTOM STYLE  -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!--jquery confirm -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
        <script src="js/dashboard.js"></script>

</head>
<body class="body" onload="fetchselectoptions()">
         <%- include ('partials/top-bar.ejs') %>
        <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Add Book</h4>
                
                            </div>

</div>
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
<div class="alert alert-info" id="email_info" style="display : none">
         <center id="display_email"></center>
</div>
<div class="panel panel-info">
<div class="panel-heading">
Book Info
</div>
<div class="panel-body">
<div class="form-group">
<label>Book Name<span style="color:red;">*</span></label>
<input class="form-control" type="text" name="bookname" id="bookname"  placeholder="Enter Book Name " autocomplete="off"  required />
</div>

<div class="form-group">
<label> Category<span style="color:red;">*</span></label>
<select class="form-control" name="category" required="required" id="categoryList" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>

</select>
</div>
<div class="form-group">
<label> Author<span style="color:red;">*</span></label>
<select class="form-control" name="author" required="required" id="authorList" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
    
</select>
</div>
<div class="form-group">
<label>ISBN Number<span style="color:red;">*</span></label>
<input class="form-control" type="text" name="isbn"  id="isbn" required="required" placeholder="Enter unique ISBN Number" autocomplete="off" onchange="isbn_check()" />
<p class="help-block">An ISBN is an International Standard Book Number.ISBN Must be unique</p>
</div>

 <div class="form-group">
 <label>Price <span style="color:red;">*</span></label>
 <input class="form-control" type="text" name="price" autocomplete="off"  id="price" placeholder="Enter Price" required="required" />
 </div>
<button type="submit" name="add" class="btn btn-info" onclick="addNewBook()">Update </button>

                            
     </div>
         </div>
             </div>

                   </div>
   
                        </div>
                              </div>
 <div class="footer-section">
   
        <p>Library Management © 2019</p>
        
</div>
        <script type="text/javascript" src="js/addBook.js"></script>
        <script src="js/bootstrap.js"></script> 
</body>
</html>