<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Add Author</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link href="css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body class="body">
    <%- include('partials/topbar.ejs') %>
    <div class="content-wrapper">
        <div class="container">
            <div class="col-md-12">
                <h4 class="header-line">Add Author</h4>
            </div>

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

            <div class="alert alert-info" id="field_info" style="display : none">
                <center id="display_author"></center>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    Author Info
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label>Author Name <span style="color:red;">*</span></label>
                        <input class="form-control" type="text" autocomplete="off" id="authName" placeholder="Enter Author" onchange="auth_check()" required />
                    </div>

                        <button type="submit" name="create" id="submitAuth" class="btn btn-info">Create </button>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>

<%- include('partials/footbar.ejs') %>
            
<script type="text/javascript" src="js/addAuthor.js"></script>
<script src="js/bootstrap.js"></script> 
</body>
</html>