<!DOCTYPE html>
<html >
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Add Students</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link href="css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body class="body">
    <%- include('partials/topbar.ejs') %>
        <div class="content-wrapper">
            <div class="container">
                <div class="col-md-12">
                    <h4 class="header-line">Add Student</h4>
                </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                    <div class="alert alert-info" id="field_info" style="display : none">
                        <center id="display_email"></center>
                    </div>

            <div class="panel panel-info">

                <div class="panel-heading">
                    Student Info
                </div>

            <div class="panel-body">

                <div class="form-group">
                    <label>University Id <span style="color:red;">*</span></label>
                    <input class="form-control" type="number" autocomplete="off" id="uniId" placeholder="Enter Student Id" onchange="id_avial()" required />
                </div>

                <div class="form-group">
                    <label>Name <span style="color:red;">*</span></label>
                    <input class="form-control" type="text" autocomplete="off" id="stuname" placeholder="Enter Name" required />
                </div>

                <div class="form-group">
                    <label>Email <span style="color:red;">*</span></label>
                    <input class="form-control" type="text" autocomplete="off" id="email2" placeholder="Enter Email" onchange="email_avail()" required />
                </div>

                <div class="form-group">
                    <label>Password <span style="color:red;">*</span></label>
                    <input class="form-control" type="password" autocomplete="off" id="password2" placeholder="Enter Password" required />
                </div>

                <div class="form-group">
                    <label>Phone <span style="color:red;">*</span></label>
                    <input class="form-control" type="number" autocomplete="off" id="phone" placeholder="Enter Phone" required />
                </div>

                <button type="submit" name="create" id="submitStudent" class="btn btn-info">Create </button>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>

     <%- include('partials/footbar.ejs') %>
            
<script type="text/javascript" src="js/add_students.js"></script>
<script src="js/bootstrap.js"></script>

</body>
</html>