<!DOCTYPE html>
<html >
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
    <link href="css/style.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body class="body" onload="fetchNumbers()">
    <%- include('partials/topbar.ejs') %>
        <div class="content-wrapper">
            <div class="container">

                <div class="col-md-12">
                    <h4 class="header-line">ADMIN DASHBOARD</h4>
                </div>
            
                <div class="row">
  
                    <div class="col-md-3 col-sm-3">
                         <div class="alert alert-success back-widget-set text-center">
                            <i class="fa fa-book fa-5x"></i>
                            <h3 id="totalNoOfBook"></h3>
                            Books Listed
                         </div>
                    </div> 

                    <div class="col-md-3 col-sm-3">
                          <div class="alert alert-info back-widget-set text-center">
                            <i class="fa fa-bars fa-5x"></i>
                            <h3 id="totalissuedBooks">8</h3>
                            Issues
                         </div>
                    </div> 

                    <div class="col-md-3 col-sm-3">
                          <div class="alert alert-info back-widget-set text-center">
                            <i class="fa fa-recycle fa-5x"></i>
                            <h3>0</h3>
                            Returned
                         </div>
                    </div> 

                    <div class="col-md-3 col-sm-3">
                        <div class="alert alert-danger back-widget-set text-center">
                            <i class="fa fa-book fa-5x"></i>
                            <h3 id="totalNoofUser"></h3>
                            Users
                         </div>
                    </div> 

                    <div class="col-md-3 col-sm-3">
                      <div class="alert alert-success back-widget-set text-center">
                            <i class="fa fa-user fa-5x"></i>
                            <h3 id="totalNoofAuthors">2</h3>
                            Authors Listed
                         </div>
                    </div> 

                    <div class="col-md-3 col-sm-3">
                        <div class="alert alert-info back-widget-set text-center">
                            <i class="fa fa-file-archive fa-5x"></i>
                            <h3 id="totalNoofCat"></h3>
                            Categories Listed
                         </div>
                    </div> 

                </div>
            </div>
        </div>   

    <%- include('partials/footbar.ejs') %>

<script src="js/bootstrap.js"></script> 
<script>

function fetchNumbers() { 

    //for total number of users
    var countdata;
    var request = new XMLHttpRequest();
    request.open('GET','/admin/totalNoofUsers');
    request.send();
    request.onload = function() {
        countdata = JSON.parse(request.responseText);
        document.getElementById('totalNoofUser').innerHTML = countdata;
    }

    //for total number of books
    var countbook;
    var request1 = new XMLHttpRequest();
    request1.open('GET','/admin/totalNoofBooks');
    request1.send();
    request1.onload = function()  {
        countbook = JSON.parse(request1.responseText);
        document.getElementById('totalNoOfBook').innerHTML = countbook;
    }

    //for total number of categories
    var countcat;
    var request2 = new XMLHttpRequest();
    request2.open('GET','/admin/totalNoofCat');
    request2.send();
    request2.onload = function() {
        countcat = JSON.parse(request2.responseText);
        document.getElementById('totalNoofCat').innerHTML = countcat;
    }

    //for total number of books issued
    var countIssuedBooks;
    var request3 = new XMLHttpRequest();
    request3.open('GET','/admin/totalissuedBooks');
    request3.send();
    request3.onload = function() {
        countIssuedBooks = JSON.parse(request3.responseText);
        document.getElementById('totalissuedBooks').innerHTML = countIssuedBooks;
    }

    //for total number of authors
    var countAuthors;
    var request4 = new XMLHttpRequest();
    request4.open('GET','/admin/totalNoofAuthors');
    request4.send();
    request4.onload = function() {
        countAuthors = JSON.parse(request4.responseText);
        document.getElementById('totalNoofAuthors').innerHTML = countAuthors;
    }
}
</script>

</body>
</html>