<!DOCTYPE html>
<html>
<head>
	<title>Library Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/login_page_style.css">
</head>
<body>

	<header class="top-bar">  <!--top bar to display cq -->
		<p>Library Management System</p>
	</header>

	       <div id="rightview" >
	       	<center>
                <div class="container-fluid div-min-width" style="padding:0;">
                    <div class="row">
                        <div class="col-lg-11 parentDiv" style="padding:0">
                            <div class="container">
                                <div class="col-lg-5">
                                </div>
                                <div class="col-sm-6 mainDiv">

                                 

                                    <h1 class="heading">Register Here</h1>
                                    <form class="form-horizontal formDiv">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="uniId" placeholder="University Id" required>
                                                <br>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="stuname" placeholder="Name" required>
                                                <br>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="email2" placeholder="Email" required>
                                                <br>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" class="form-control" id="password2" placeholder="Password" required>
                                                <br>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="phone" placeholder="Phone" required>
                                                <br>
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" value="Add User" class="btn btn-success" id="submitbtn">
                                                <input value="Cancel" class="btn btn-danger" id="cancelbtn">
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </center>
            </div>

	


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>


</body>
</html>